<!-- Header Bar -->
<div  ng-controller="NavbarController as NavbarCtrl">
    <div class="row header">
        <div class="col-xs-12">
            <div class="user pull-right">
                <div class="item dropdown">
                    <a ui-sref="main" class="dropdown-toggle">
                        <img src="assets/images/yeoman.png">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-header">
                            Joe Bloggs
                        </li>
                        <li class="divider"></li>
                        <li class="link">
                            <a ui-sref="main">
                                {{'global.navbar.login.profile'  | translate}}
                            </a>
                        </li>
                        <li class="link">
                            <a ui-sref="main">
                                {{'global.navbar.login.settings'  | translate}}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="link">
                            <a ui-sref="main">
                                {{'global.navbar.login.logout'  | translate}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="item dropdown">
                    <a href="#" class="dropdown-toggle">
                        <i class="fa fa-bell-o"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-header">
                            {{'global.navbar.notifications.title'  | translate}}
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                {{'global.navbar.notifications.serverstate'  | translate}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="meta">
                <div class="page">
                    {{'global.navbar.title'  | translate}}
                </div>
                <div class="breadcrumb-links">
                    {{'global.navbar.subtitle'  | translate}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header Bar -->