<h1>{{'registry.page.title' | translate}}</h1>

<div ng-if="registriesCtrl.registries.length <= 0">
    {{'registry.page.empty' | translate}}
</div>
<div ng-if="registriesCtrl.registries.length > 0">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{'registry.domain.name'       | translate}}</th>
            <th>{{'registry.domain.type'       | translate}}</th>
            <th>{{'registry.domain.host'       | translate}}</th>
            <th>{{'registry.domain.port'       | translate}}</th>
            <th>{{'registry.domain.protocol'  | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="registry in registriesCtrl.registries track by $index">
            <td><a ui-sref='registry({registryID: registry.id})' ng-href="/registries/{{registry.id}}">{{registry.name}}</a></td>
            <td>{{registry.type}}</td>
            <td>{{registry.host}}</td>
            <td>{{registry.port}}</td>
            <td>{{registry.protocole}}</td>
        </tr>
        </tbody>
    </table>
</div>